html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    line-height: 1;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*fim do reset*/
*{
    font-family: 'Montserrat', sans-serif;
}


.cabecalho-inteiro {
    background: url('pexels-scott-webb-2117937.jpg');
    padding: 20px 0;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
}
.body-container{
    width: 100%;
    width: 100%;
    
    
}
.serviços-container{
    margin: 1% 0px;
    width: 75%;
    position: relative;
    margin-left: 12.5%;
}

.caixa-rodape {
    position: relative;
    width: 940px;
    margin: 0 auto;

}

nav {
    position: absolute;
    top: 76px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    transition: 1s;
}
nav a:hover{
    color:yellow;
    font-size: 33px;
}

.serviços li {
    display: inline-block;
    text-align: center;
    width: 30%;
    height: auto;
    vertical-align: top;
    margin: 5% 1.5%;
    padding: 30px 20px 40px;
    box-sizing: border-box;
    border-radius: 2.5px;
}
.servico-pintura , .servico-martelinho , .servico-polimento {
    width: 30%;
    height: 30%;
}
.servico-pintura {
    background-image: linear-gradient(to right, #e7e7e7 , #FEFEFE);
    transition: 300ms;
    outline: 0.25px solid #e7e7e700;
}
.servico-pintura:hover{
    outline: 0.25px solid #dadada;
}
.servico-polimento{
    background-image: linear-gradient(to left, #e7e7e7 , #FEFEFE);
    transition: 300ms;
    outline: 0.25px solid #e7e7e700;
}
.servico-polimento:hover{
    outline: 0.25px solid #dadada;
}
.servico-martelinho{
    background-image: radial-gradient(#e7e7e7 30%, #FEFEFE 85%);
    transition: outline 1s;
    outline: 0.25px solid #e7e7e700;
}
.servico-martelinho:hover{
    outline: 0.25px solid #dadada;
}

.titulo-servico{
    font-size: 22px;
    font-weight: bold;
}
.descricao-preco-servico-1-3, .descricao-preco-servico-2{
    height:195px;
}

.descricao-servico{
    margin: 2em 0;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
}

.preco-servico{
    font-size: 22px;
    font-weight: bold;
    vertical-align: bottom;
    padding-bottom: 10px;
}

.imagens-serviços{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 5%;

}

.imagem-pintura , .imagem-martelinho , .imagem-polimento {
    width: 95%;
    position: relative;
    border-radius: 4%;
}
footer{
    text-align: center; 
    height: 50px;
    background-color: rgb(49, 49, 49);
    margin: 0;
    color: white;
}
/* css da página de contato*/
main{
    background-image: linear-gradient( to bottom, #FEFEFE, #fafafa);
}
.conteudo-container{
    position: relative;
    width: 65%;
    margin: 0 0 0 17.5%;
    padding: 3% 1% 6% 1%;
}
.form-container{
    margin:0 0 5% 5%;
    width: 90%;
    position: relative;
    height: auto;
    border: none;
    border-bottom: 0.75px solid black;
    background-image: linear-gradient( to bottom, #e7e7e7, #FEFEFE);
}
.primeira-parte-conteudo, .segunda-parte-conteudo{
    margin: 2% 0 2% 6.25%;
    display: inline-block;
    width: 40%;
    height: 502.400px;
    vertical-align: top;
    box-sizing: border-box;
    padding: 1%;
}
.lbl-ipt-dados, .lbl-ipt-dados, form p, form  legend{
    display: block;
    font-size: 22px;
    margin: 0 0 10px 10px;
    font-weight: bold;
    transition: 400ms;
}
.lbl-ipt-dados:hover, .lbl-ipt-dados:hover, form p:hover, form  legend:hover{
    color: rgb(121, 121, 121);
}

.ipt-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 82%;
    border: 0.5px solid #ffffff;
    border-radius: 2px;
    transition: 1s;
}
.ipt-padrao:hover{
    background-color: #ffffff;
    border: 0.5px solid #b5b5b5;
}
.form-select, .form-radio, .checkbox, .enviar{
    display: block;
}

.form-radio, .form-select{
    margin: 0 0 15% 0;
}
form legend{
    margin: 0 0 7.5% 0;
}
.lbl-radio-option-select{
    margin: 10px 0 10px 10px;
    transition: 300ms;
}
.lbl-radio-option-select:hover{
    font-weight: bold;
    color: rgb(218, 179, 5);

}
form select{
    font-size: 16px;
}

.enviar{
    margin: 22% 0 33% 12.5% ;
    width: 75%;
    padding: 15px 0;
    color:#000000;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 2.5px;
    transition: 1s all;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 241, 204);
    background-color: rgb(52, 52, 52);
}

.enviar:hover{
    color: rgb(208, 170, 0);
    border: 1px solid rgb(218, 179, 5);
    background-color: rgb(118, 118, 118);
}

table{
    text-align: center;
    position: relative;
    left:35%;
    width: 30%;
    
}
table thead{
    background-color: rgb(221, 188, 0);
    color: black;
    font-weight: bolder;
    font-size: 18px;
    border: 1px solid black;
}

table td, th{
    padding: 10px 15px;
    border: 1px solid black;
    transition: 1s;
}
table td:hover, th:hover{
    color: rgb(0, 0, 0, 0.5);
}

/*css da página Home*/
.banner{
    width:100%;
}
/*bom pra usar em botões (a baixo)*/
.titulo-principal{
    text-align: center;
    font-size: 2em; 
    margin: 0 0 1em;
    color: rgb(0, 0, 0,);
    transition: 400ms;
}
.titulo-principal:hover{
    color: rgb(0, 0, 0, 0.5);
}
.principal{
    padding: 3em 0;
    background-color: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}
.principal p{
    margin: 0 0 1em;
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}
.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE , rgb(204, 204, 204));
}
.mapa-conteudo{
    width: 940px;
    margin: 10px auto 0;
}
.mapa p{
    margin: 0 0 2em;
    text-align: center;
    margin: 0 auto;
}
.beneficios{
    padding: 3em;
    background-color: rgb(204, 204, 204);
    margin-bottom: 0;
}
.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}
.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.itens{
    line-height: 1.5em;
}
.itens:before{
    content:'✪'
}
.itens:nth-child(2n){
    font-weight: bold;
}
.imagembeneficios{
    width: 60%;
    opacity: 1;
    transition:500ms;
    box-shadow: 5px 5px 20px #000000;
}
.imagembeneficios:hover{
    opacity: 0.4;
}









.form-container2{
    margin:0 0 5% 5%;
    width: 90%;
    position: relative;
    height: 880px;
    border: none;
    border-bottom: 0.75px solid black;
    background-image: linear-gradient( to bottom, #e7e7e7, #FEFEFE);
    border-radius: 2px;
}
.primeira-parte-conteudo, .segunda-parte-conteudo{
    margin: 2% 0 2% 6.25%;
    display: inline-block;
    width: 40%;
    height: 790px;
    vertical-align: top;
    box-sizing: border-box;
    padding: 1%;
    
}


.procurarUsuarios-adm{
    margin-top: 5%;
    height: 90%;
    background-color: rgba(241,243,243,1);
    padding: 15px;
    border-radius: 2px;
    
}

.iptPesquisar-adm{
    display: block;
    margin: 5% 0 10% 0;
    padding:12px 25px;
    width: 50%;
    border: 0.5px solid #3a3a3a;
    transition: 1s;
    background-color: #ffffff;
    height: 10px;
}
.iptPesquisar-adm:hover{
    background-color: #e6f9ff;
}

.iptPesquisar-adm, .btn-pesquisar-adm{
    display: inline-block;
}
.btnPesquisar-adm{
    width: 20%;
    margin-left: 5%;   
    padding: 10px 0;
    padding-right: 1px;
    font-size:10px;
    font-weight: bold;
    color:#ffffff;
    background-color: #2a8f91;
    border:1px #000000 solid;
}
.btnPesquisar-adm:hover{
    cursor: pointer;
}

.btnDrop-adm{
    margin: 5% 0;
    margin-left: 4%;
    width: 88%;
    height: 40px;
    font-size:12px;
    font-weight: bold;
    color:#1b1b1b;
    background-color: #ffffff;
    border:1px #000000 solid;
    text-align: left;
    padding-left: 5px;
    overflow: hidden;
    
}
.btnDrop-adm p, .btnNomeOpcao-adm{
    display: inline-block;

} 
.btnNomeOpcao-adm{
    width: 10%;
    float: right;
    font-size: 15px;
    height: 50%;
    border-radius: 0;
    border:none;
    border-left: 0.5px solid black;
    border-bottom: 0.5px solid black;
    font-weight: bold;
    text-align: center;
}
.btnNomeOpcao-adm:hover{
    cursor: pointer;
}
#btnVer-adm{
    background-color: #b5dbb1;
    color: #000000;
  
}
#btnEditar-adm{
    background-color: #f0f19b;
    color: #000000;

}
#btnDeletar-adm{
    background-color: #e97f7f;
    color: #FEFEFE;
}
.btnDrop-adm p{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    overflow: hidden;
}





.tituloSecundario-adm{
    font-size: 22px;
    font-weight: bold;
}
.dadosUsuarios-adm{
    margin-top: 5%;
    height: 90%;
    background-color: rgba(241,243,243,1);
    padding: 15px;
    border-radius: 2px;
    
}
.dadosUsuariosEdit-adm{
    display: none;
}
.pLista-adm, .tituloDados-adm{
    margin:8% 0;
    display: block;
}
.pLista-adm{
    margin-left: 4%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(241,243,243,1) 100%);
    padding: 6px;
    border-radius: 2px;
    width: 90%;
    border: none;
}
#pMensagem-adm{
    height: 70px;
}
.tituloDados-adm{
    font-size: 18px;
    font-weight: bold;
}



@media screen and (max-width:480px) {
    .cabecalho-inteiro, .caixa-rodape , .principal , .beneficios, .conteudo-beneficios , .mapa-conteudo{
        width: auto;
    }
    .logo-oficina, nav{
        width: 100%;
    }
    .principal p{
        margin: 10px;
    }
    .lista-beneficios, .imagembeneficios{
        width: 100%;
    }
    .serviços li{
        width: auto;
    }
    .descricao-preco-servico-1-3{
        height:160px;
    }
    .descricao-preco-servico-2{
        height:275px;
    }
    .primeira-parte-conteudo, .segunda-parte-conteudo{
        width: auto;
    }
    .ipt-padrao{
        width: 65%;
    }
    .lbl-ipt-dados, .lbl-ipt-dados, form p, form  legend{
        margin: 0 0 10px 0;
    }
    table{
        text-align: center;
        position: relative;
        left:15%;
        width: 50%;
        
    }
}